 <!DOCTYPE html>
 <html lang="pt-br">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link href="css/site.css" rel="stylesheet" type="text/css">
     <title>Portifólio Lucas</title>
 </head>
 <body>
     
         <headder>
               <div id = "Para-Centralizar-Titulo">
        <div id="Titulo"> 
             <h1>Lucas Rodrigues Yamashita Gonçalves</h1>
        </div>
               </div>
                    <div id = "Tudo" >
        <div id ="Div-Para-Foto">
             <img id = "Foto-Lucas" src="corno/corno.jpg" tittle="Lucas corno" alt="lucas corno">
        </div> 
        <div id="Textos"> 
             <b><p> Portifólio sobre a vida de Lucas Gonçalves</p></b>
             <ul>
                 <li>Nasceu no dia 31/03/2003</li>
                 <br>
                 <li>Estuou no Colégio Inovação, Dourado e Silva prado</li>
                 <br>
                 <li>Amante da matematica e jogador de truco</li>
                 <br>
                 <li>Solteiro</li>
                 <br>
                 <li>Curte astronomia, e também a área militar</li>
                 <br>
                 <li>Nas horas livres joga Fortnite e CS GO</li>
                 <br>
                 <li>Sobre músicas, escuta rock, lofi, indie e trap</li>
                 <br>
                 <li>Cursa desenvolvimento de sistemas no Senai</li>
                 <br>
                 <li>Seu hobbie é ver séries, sair com os amigos e curtir</li>
                 <br>
                 <li>Anda de skate desde os 12 anos</li>
                 <br>
                 <li>Fez um curso de programação em blocos na 'estaçao hack'</li>
                 
        </div>
                    </div>           
        </headder>
             



     
 </body>
 </html>