
<body>
    <main>
            <div id="fundo-img"> 
                    <div id="login-barra">
                    <h1>LOGIN</h1>
                    </div>
                    <a id="botao-casinha" href="Role Top.html"> <img id="botao-casinha" src="img/botao-casa.png" alt="botao para voltar"> </a>
            </div>
                    <section class="fundo-login">
                        <div id="tipo-de-login">
                            <div id="usuario-administrador">
                                <h2> USUÁRIO  </h2>
                                <h2> - </h2>
                                <h2> ADMINISTRADOR  </h2>
                            </div>
                        </div>
                        <div id="formulario">  
                               <form method="POST" action="RoleTop.html">
                                    <input type="text" name="email" placeholder="ENTRE COM SEU EMAIL, CPF OU NÚMERO">
                                        <br> <br>
                                    <input type="password" name="senha" placeholder="SENHA">
                                        <br> <br>  
                                    <input type="submit" value="ENTRAR">
                                    <a href="">ESQUECEU A SENHA? CLIQUE AQUI!</a>
                                    <br>
                                    <a href="administrador.html"> ENTRAR COMO ADMINISTRADOR</a>
                                    <br>
                               </form>
                                     <div id="caso-ainda"><a href="cadastro.html"> CASO AINDA NAO TENHA SE CADASTRADO: CLIQUE AQUI!</a></div>
                                    </div>
                         </div>
                    </section>
            </main>
    </body>