 <link href="~/css/styleusuario.css" rel="stylesheet" type="text/css">
<style>
        table {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            border-collapse: collapse;
            width: 90%;
            height: 50%;
            margin-left: 5%;
            margin-right: 5%;
            background-color: #ffc600;
        }
        td, th {
            text-align: center;
            border: 2px solid black;
            
        }

        th {
            font-size: 130%;
            background-color: #949494
        }
        
</style>

<main> 
    <div id="fundo-img"> 
                    <div id="usuario-barra">
                            <h1>USUÁRIO</h1> 
                    </div>
                   <a id="botao-casinha" href='@Url.Action("Index" , "Home")#a-role-top'> <img id="botao-casinha" src="~/img/botao-casa.png" alt="botao para voltar"> </a>   
            </div>
        <div id="fundo"> 
            <table> 
                <tr>
                    <th>DATA</th>
                    <th>TIPO DE EVENTO</th>
                    <th>PÚBLICO/PRIVADO</th>
                    <th>ILUMINAÇÃO</th>
                    <th>SOM</th>
                    <th>VALOR PAGO</th>
                    <th>STATUS</th>
                    <th>OPÇÕES</th>
                </tr>
                <tr>
                    <td>23/05/19</td>
                    <td>Casamento</td>
                    <td>Privado</td>
                    <td>Inclusa</td>
                    <td>Incluso</td>
                    <td>R$7.000</td>
                    <td>Já realizado</td>
                    <td>CANCELAR</td>
                </tr>
                <tr>
                    <td>15/11/19</td>
                    <td>Balada</td>
                    <td>Pública</td>
                    <td>Inclusa</td>
                    <td>Não Incluso</td>
                    <td>R$5.500</td>
                    <td>Aceito</td>
                    <td id="cancelar"><a href="">CANCELAR</td></a>
                </tr>
                <!--TRs para criar espaço-->
                <tr>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                </tr>
                <tr>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                </tr>
                <tr>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                </tr>
                <tr>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                </tr>
                <tr>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                </tr>
                <tr>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                </tr>
                <tr>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                </tr>
                <tr>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                </tr>
                <tr>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                </tr>
                <tr>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                </tr>
                <tr>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                </tr>

            </table>
            <br>
            <div id="botao-agendar">
               <a id="bt-Calendario" asp-controller="Calendario" asp-action="Index"> <h3>AGENDE UM HORÁRIO</h3> </a>
            </div>
            <div id="img-chat"> 
                    <a class="chat" href="">  <img class="chat" src="~/img/CHAT.png" alt="chatbox"> </a>
            </div>
        </div>
    </main>
