 <link href="~/css/styleadministrador.css" rel="stylesheet" type="text/css">
<style>
        
            table {
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                border-collapse: collapse;
                width: 90%;
                height: 50%;
                margin-left: 5%;
                margin-right: 5%;
                background-color: #ffc600;
            }
            td, th {
                text-align: center;
                border: 2px solid black;
                
            }
    
            th {
                font-size: 130%;
                background-color: #949494;
            }
            
            </style>

<main> 
    <div id="fundo-img"> 
                        <div id="administrador-barra">
                                <h1>ADMINSTRADOR</h1> 
                        </div>
                       <a id="botao-casinha" href='@Url.Action("Index" , "Home")#a-role-top'> <img id="botao-casinha" src="~/img/botao-casa.png" alt="botao para voltar"> </a> 
                </div>
            <div id="fundo"> 
                <table>
                    <tr>
                        <th>DATA</th>
                        <th>CLIENTE</th>
                        <th>EMAIL</th>
                        <th>NÚMERO</th>
                        <th>TIPO DE EVENTO</th>
                        <th>PÚBLICO/PRIVADO</th>
                        <th>ILUMINAÇÃO</th>
                        <th>SOM</th>
                        <th>ACEITAR</th>
                    </tr>
                    <tr>
                        <td>23/05/19</td>
                        <td>Fernanda Oliveira</td>
                        <td>Fernanda.oli@gmai.com</td>
                        <td>(11)97070-7070</td>
                        <td>Casamento</td>
                        <td>Privado</td>
                        <td>Sim</td>
                        <td>Sim</td>
                        <td>Aceito</td>
                    </tr>
                    <tr>
                        <td>15/11/19</td>
                        <td>Fernanda Oliveira</td>
                        <td>Fernanda.oli@gmail.com</td>
                        <td>(11)97070-7070</td>
                        <td>Balada</td>
                        <td>Público</td>
                        <td>Inclusa</td>
                        <td>Não Incluso</td>
                        <td>Aceito</td>
                    </tr>
                    <tr>
                        <td>28/11/19</td>
                        <td>Pedro Carvalho</td>
                        <td>Pedro.caca@gmail.com</td>
                        <td>(11)97070-8080</td>
                        <td>Balada</td>
                        <td>Público</td>
                        <td>Inclusa</td>
                        <td>Incluso</td>
                        <td><a id="sim" href="">SIM</a> - <a id="nao" href="">NÃO</a></td>
                        <!--TRs criadas para compor espaço-->
                    </tr>
                    <tr>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>    
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                </table>
                <br>
                <div id="botao-responder"> 
                  <a href=""> <h3>RESPONDER O CHAT</h3> </a>
                </div>
                
            </div>
</main>